<div class="modal fade" tabindex="-1" role="dialog" id="add-server-size">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10 ">
            <h2 class="modal-title">New Server Size Backing</h2>
          </div>
          <div class="col-xs-2 text-right">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fi-close" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="text-title">
          Control infrastructure items in all your datacenters.
        </div>
      </div>

      <div class="modal-body">
        <div class="mb-2">
          <label>Server name</label>
          <input type="text" class="form-control" value="X1111111 ">
        </div>

        <div class="mb-2 row row--flex row--gutter-10">
          <div class="col-sm-2 col-xs-12 mb-2-sm-down">
            <label>vCPUS</label>
            <input type="text" class="form-control" value="2">
          </div>

          <div class="col-sm-2 col-xs-12 mb-2-sm-down">
            <label>vRAM</label>
            <div class="input-group">
              <input type="text" class="form-control px-half" value="8">
              <span class="input-group-addon">GB</span>
            </div>
          </div>

          <div class="col-sm-3 col-xs-12 mb-2-sm-down">
            <label>Storage</label>
            <div class="input-group">
              <input type="text" class="form-control" value="500">
              <span class="input-group-addon">GB</span>
            </div>
          </div>

          <div class="col-sm-3 col-xs-12 mb-2-sm-down">
            <label>Net Egress</label>
            <div class="input-group">
              <input type="text" class="form-control" value="500">
              <span class="input-group-addon">GB</span>
            </div>
          </div>

          <div class="col-sm-2 col-xs-12 mb-2-sm-down">
            <label>Ver</label>
            <input type="text" class="form-control" value="3">
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3">
            <label>Price, $/Month</label>
            <input type="text" class="form-control" value="400">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default px-3" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-secondary px-4">ADD</button>
      </div>
    </div>
  </div>
</div>
