.content {
  position: relative;
  z-index: 1;
  padding:90px $content-xpadding-xs 0;

  @include media-breakpoint-up(md){
    padding:90px $content-xpadding-md 0;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 60px;
    margin-left: $sidebar-width;
  }
  @include media-breakpoint-up(xl) {
    padding:60px $content-xpadding-xl 74px;
  }
}
