.chart-graph {
  &__header {
    margin-bottom: 20px;
  }

  &__heading {
    margin-bottom: 15px;

    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
  }

  &__content {
    position: relative;
    height: 400px;
  }

  &__tooltip {
    opacity: 1;
    position: absolute;
    background: #fff;
    border: 1px solid $gray9B;
    border-radius: 4px;
    transition: opacity .1s ease;
    pointer-events: none;
    transform: translate(-50%, 0);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    white-space: nowrap;

    &::after {
      content:'';
      width: 5px;
      height: 5px;
      position: absolute;
      background-color: #fff;
      border-left: 1px solid $gray9B;
      border-top: 1px solid $gray9B;
      top: -3px;
      left: 50%;
      margin-left: -2.5px;
      transform: rotate(45deg);
    }
  }

  &__key {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -3px;
    border: 2px solid $grayE0;
  }
}
