// Message Input
.message-input {
  position: relative;
  width: 100%;
  font-size: 0;
  background: #ffffff;
  border-top: 1px solid $grayDE;
  display: flex;
  flex-direction: row;

  @include media-breakpoint-down(sm) {
    padding-left: 15px;
  }

  &__left {
    padding: 8px 0 8px 30px;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
  &__left,
  &__right {
    width: 88px;
  }

  &__middle {
    flex-grow: 1;
    padding: 13px 0;
  }

  &__textarea {
    padding: 0;
    border: none;
    height: 20px;
    font-size: 14px;
    max-height: 40px;
    resize: none;
    overflow: auto;
    // width: 88%!important;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}
