    </div> <!-- /wrapper -->


    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/jquery.dataTables.js"></script>
    <script src="js/vendor/dataTables.bootstrap.js"></script>
    <script src="js/vendor/Chart.bundle.min.js"></script>
    <script src="js/vendor/bootstrap-tagsinput.min.js"></script>

    <script src="js/common/sidebar.js"></script>
    <script src="js/common/add-server.js"></script>
    <script src="js/common/add-remove.js"></script>
    <script src="js/common/dataTableInit.js"></script>
    <script src="js/common/onend.js"></script>
    <script src="js/common/templates.js"></script>
    <script src="js/common/dropdown.js"></script>
    <script src="js/common/progress-square.js"></script>
    <script src="js/common/section.js"></script>
    <script src="js/common/chart-line.js"></script>
    <script src="js/common/chart-circle.js"></script>
    <script src="js/common/chart-graph.js"></script>
    <script src="js/common/input-number.js"></script>
    <script src="js/common/tags-dropdown.js"></script>

    <script src="js/pages/server-details.js"></script>
    <script src="js/pages/servers.js"></script>
    <script src="js/pages/network.js"></script>
    <script src="js/pages/organization-marketplace.js"></script>
    <script src="js/pages/orders.js"></script>
    <script src="js/pages/support.js"></script>
    <script src="js/pages/storage.js"></script>
    <script src="js/pages/storage-details.js"></script>
    <script src="js/pages/tasks.js"></script>
    <script src="js/pages/add-provider-plan-8.js"></script>
    <script src="js/pages/dashboard.js"></script>

    <script src="js/main.js"></script>
  </body>
</html>
