<div class="header">
  <button class="sidebar__open js-sidebar-open"><img src="images/icons/menu.svg" alt=""></button><a href="./" class="logo"><img src="images/logo-text.png" alt=""></a>
</div>


<div class="sidebar">
  <div class="sidebar__header">
    <a class="sidebar__close js-sidebar-close" href="#"><i class="fi-close"></i> CLOSE</a>
  </div>

  <div class="sidebar__content">
    <nav class="menu">
      <div class="menu__section">
        <h5 class="menu__heading">MAIN</h5>
        <ul class="menu__list">
          <!-- active link must have class 'is-active' -->
          <li class="menu__item">
            <a href="#" class="menu__link"><span class="menu__icon"><img src="images/icons/speed.svg" alt=""></span>Dashboard</a>
          </li>
          <!-- active link must have class 'is-active' -->
          <li class="menu__item">
            <a href="#" class="menu__link"><span class="menu__icon"><img src="images/icons/chart.svg" alt=""></span>summary</a>
          </li>
          <li class="menu__item">
            <a href="servers.html" class="menu__link"><span class="menu__icon"><img src="images/icons/servers.svg" alt=""></span>Servers</a>
          </li>
          <li class="menu__item">
            <a href="network.html" class="menu__link"><span class="menu__icon"><img src="images/icons/network.svg" alt=""></span>Network</a>
          </li>
          <li class="menu__item">
            <a href="storage.html" class="menu__link"><span class="menu__icon"><img src="images/icons/storage.svg" alt=""></span>Storage</a>
          </li>
          <li class="menu__item">
            <a href="tasks.html" class="menu__link"><span class="menu__icon"><img src="images/icons/star.svg" alt=""></span>Tasks</a>
          </li>
          <li class="menu__item">
            <a href="#" class="menu__link"><span class="menu__icon"><img src="images/icons/marketplace.svg" alt=""></span>Marketplace</a>
          </li>
          <li class="menu__item">
            <a href="application-stack.html" class="menu__link"><span class="menu__icon"><img src="images/icons/stack.svg" alt=""></span>Application Stack</a>
          </li>
          <li class="menu__item">
            <a href="support.html" class="menu__link"><span class="menu__icon"><img src="images/icons/support.svg" alt=""></span>Support</a>
          </li>
        </ul>
      </div>

      <div class="menu__section">
        <h5 class="menu__heading">ADministration</h5>
        <ul class="menu__list">
          <li class="menu__item">
            <a href="#" class="menu__link is-active"><span class="menu__icon"><img src="images/icons/tools.svg" alt=""></span>Administration</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="sidebar__footer">
    <!-- Dropdown menu for user profile will be added later-->
    <div class="user">
      <div class="user__left">
        <div class="user__avatar avatar">
          <img src="images/t_user.png" alt="">
          <div class="avatar__badge">3</div>
        </div>
      </div>

      <div class="user__desc">
        <p class="user__name">Sarah Williams</p>
        <p class="user__role">Superadmin</p>
      </div>

      <span class="user__caret caret"></span>
    </div>
  </div>
</div>
