<div class="modal fade" tabindex="-1" role="dialog" id="add-balancer">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10 ">
            <h2 class="modal-title">Add Load Balancer</h2>
          </div>
          <div class="col-xs-2 text-right">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fi-close" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>

      <div class="modal-body">
        <div class="mb-2">
          <label>What cloud we are connecting your LB to?</label>
          <div class="select select--simple">
            <select class="select__input form-control">
              <option value="0">VMWare</option>
              <option value="1">VMWare</option>
              <option value="2">VMWare</option>
              <option value="3">VMWare</option>
            </select>
            <div class="select__button"></div>
          </div>
        </div>

        <div class="mb-2">
          <label>Agent</label>
          <div class="select select--simple">
            <select class="select__input form-control">
              <option value="0">DC Agent</option>
              <option value="1">DC Agent</option>
              <option value="2">DC Agent</option>
              <option value="3">DC Agent</option>
            </select>
            <div class="select__button"></div>
          </div>
        </div>

        <div class="mb-2">
          <label>What type of LB Do you have in your enviroment?</label>
          <div class="select select--simple">
            <select class="select__input form-control">
              <option value="0">NGNX</option>
              <option value="1">NGNX</option>
              <option value="2">NGNX</option>
              <option value="3">NGNX</option>
            </select>
            <div class="select__button"></div>
          </div>
        </div>

        <div class="mb-2 row">
          <div class="col-xs-9">
            <label>Api Host</label>
            <input type="text" class="form-control" placeholder="myhost.com">
          </div>
          <div class="col-xs-3">
            <label>Api Port</label>
            <input type="text" class="form-control" placeholder="22">
          </div>
        </div>

        <div class="mb-2 row">
          <div class="col-xs-6">
            <label>Internal IP</label>
            <input type="text" class="form-control" placeholder="10.10.10.1">
          </div>
          <div class="col-xs-6">
            <label>Public IP</label>
            <input type="text" class="form-control" placeholder="10.10.10.1">
          </div>
        </div>

        <div class="mb-2">
          <label>Username</label>
          <input type="text" class="form-control">
        </div>

        <div class="mb-2">
          <label>Password</label>
          <input type="password" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default px-3" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-secondary px-4">ADD</button>
      </div>
    </div>
  </div>
</div>
