<div class="modal fade" tabindex="-1" role="dialog" id="edit-vram">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10 ">
            <h2 class="modal-title">Edit vRAM</h2>
          </div>
          <div class="col-xs-2 text-right">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fi-close" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <th class="text-left">Size</th>
              <th>Available</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <!-- select -->
                <div class="select">
                  <select name="" class="select__input form-control">
                    <option value="">200</option>
                    <option value="">400</option>
                    <option value="">600</option>
                  </select>
                  <div class="select__button">TB </div>
                </div>
                <!-- //select -->
              </td>
              <td class="text-center">128GB</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default px-3" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-secondary px-2">Save changes</button>
      </div>
    </div>
  </div>
</div>
