<div class="modal fade" tabindex="-1" role="dialog" id="edit-spec-size">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-10 ">
            <h2 class="modal-title">Edit Size</h2>
          </div>
          <div class="col-xs-2 text-right">
            <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close"><i class="fi-close" aria-hidden="true"></i></button>
          </div>
        </div>
        <div class="text-title">
          Control infrastructure items in all your datacenters.
        </div>
      </div>

      <div class="modal-body">
        <div class="mb-2">
          <label>Name</label>
          <input type="text" class="form-control">
        </div>

        <div class="mb-2">
          <label>Size</label>
          <input type="text" class="form-control">
        </div>

        <div class="mb-2">
          <label>Price</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default px-3" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-secondary px-4">ADD RECORD</button>
      </div>
    </div>
  </div>
</div>
